// src/css/quasar.variables.scss

$primary   : #e014a7;
$secondary : #1c9cd4;
$accent    : #9C27B0;

$dark      : #1d1d1d;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
